<br><br><br>

<div class = "container textcenter">
  <h3 class = "barcodefont" style = "font-size: xx-large" >Noteworthy Sign up</h3>
  <p>A place to share tech news and better understand startup world</p>
</div>


<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %>
