$(document).ready(function(){

  $('.table').remove();
    <% @posts.each do |post| %>
    $('.appendtbl').append("<table class = 'table' >\
      <td><%= j post.user.first_name %></td>\
      <td><%= j post.highlight %></td>\
          </tr>\
      </table>");
    <% end %>
});



